header {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.siteName {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}
*
.siteName > a {
    font-size: 1.5rem;
    margin: 10px;
}

.button, 
.button-viewBasket a {
    background-color: blue;
    border-radius: 5px;
    color: white !important;
    font-size: 1.3rem;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin: 20px ;
}

label, input, 
.total-price, 
.totalPrice, 
.orderNumber {
    margin: 5px;
    font-weight: bold;
    font-size: 1.3rem;
}

.thankYou {
    margin: 20px;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
.button-order {
    margin: 20px 0;
}
a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.image > img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    transition: transform 400ms;
}

.image:hover {
    transform: scale(2);
}

.presentation a, 
.product, 
#recapOrder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
}

.product-description {
    width: 25%;
    font-size: 1.3rem;
}

.product-price {
    font-weight: bold;
    font-size: 1.3rem;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.social {
    font-size: 3rem;
    margin-bottom: 10px;
}

#addToCart {
    display: flex;
    justify-content: space-evenly;
}

#optionColors {
    font-size: 1.3rem;
}

.total-price, 
.product-quantity, 
.product-name, 
.orderNumber {
    font-weight: bold;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

table {
    width: 100%;
}

table, 
th, 
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.totalOfCart {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}
@media screen and (max-width: 750px) {
    table,
    tbody,
    tr,
    td {
        display: block;
        width: auto;
    }
    th {
        display: none;
    }
}

@media screen and (max-width: 590px) {
    .presentation a, .product{
        display: flex;
        flex-direction: column
    }

    .product-price {
        margin: 20px;
    }

}