<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./css/style.css">
        <script type="text/javascript" src="../js/basket.js"></script>
        <title>Orinoco, nos produits</title>
    </head>
    <body>
        <header>
            <div class="siteName">Orinoco</div>
        </header>

        <section id="recap">
            <div class="product-image">
                <!-- Product image -->
            </div>
            <div class="product-name">
                <!-- Product name -->
            </div>
            <div class="quantity">
                <!-- Quantity to order -->
            </div>
            <div class="price">
                <!-- Price of the product -->
            </div>
            <div class="totalPrice">
                <!-- Total price of order -->
            </div>
        </section>
        <section id="form">
            <ul>
                <li><input id="firstName" placeholder="Votre nom" /></li>
                <li><input id="lastName" placeholder="Votre prénom" /></li>
                <li><input id="address" placeholder="Votre adresse" /></li>
                <li><input id="zipCode" placeholder="Votre code postal" /></li>
                <li><input id="city" placeholder="Votre ville" /></li>
                <li><input id="email" type="email" placeholder="Votre email" /></li>
                <li><button id="submit" type="submit">Commander</button></li>
            </ul>
        </section>
    </body>
</html>