<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        
        <title>Orinoco, nos produits</title>
    </head>
    <body>
        <header>
            <div class="siteName">
                <a href="../index.html">Orinoco</a>
            </div>
        </header>

        <section id="recap">
            <div class="product-image">
                <!-- Product image -->
            </div>
            <div class="product-name">
                <!-- Product name -->
            </div>
            <div class="quantity">
                <!-- Quantity to order -->
            </div>
            <div class="price">
                <!-- Price of the product -->
            </div>
            <div class="totalPrice">
                <!-- Total price of order -->
            </div>
        </section>
        <section id="form">
            <ul>
                <li><input id="firstName" placeholder="Votre nom" /></li>
                <li><input id="lastName" placeholder="Votre prénom" /></li>
                <li><input id="address" placeholder="Votre adresse" /></li>
                <li><input id="zipCode" placeholder="Votre code postal" /></li>
                <li><input id="city" placeholder="Votre ville" /></li>
                <li><input id="email" type="email" placeholder="Votre email" /></li>
                <li><button id="submit" type="submit">Commander</button></li>
            </ul>
        </section>
        <footer>
            <div class="siteName">
                <a href="../index.html">Orinoco</a>
            </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-pinterest-square"></i></a>
                </div>
        </footer>
        <script type="text/javascript" src="../js/variable.js"></script>
        <script type="text/javascript" src="../js/functions.js"></script>
        <script type="text/javascript" src="../js/basket.js"></script>
    </body>
</html>