<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        
        <title>Orinoco, nos produits</title>
    </head>
    <body>
        <header>
            <div class="siteName">
                <a href="../index.html">Orinoco</a>
            </div>
        </header>
        <section id="recap">
            <table>
                <tr>
                    <th>Image</th>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Couleur</th>
                    <th>Prix Unitaire</th>
                    <th>Quantité</th>
                    <th>Prix Total</th>
                </tr>
                <tbody id="productInCart">
                </tbody>
            </table>
           
        </section>
        <div class="totalOfCart">
            <span id="totalCart">Prix Total de votre Panier :</span>
        </div>
        <form name="contact" id="contact">
            <label for="firstName">Votre Nom</label>
            <input type="text" id="firstName" name="firstName" required>
            <label for="lastName">Votre Prénom</label>
            <input type="text" id="lastName" name="lastname" required>
            <label for="address">Votre Adresse</label>
            <input type="text" id="address" name="address" required>
            <label for="zipCode">Votre Code Postal</label>
            <input type="text" name="zipCode" id="zipCode">
            <label for="city">Votre Ville</label>
            <input type="text" name="city" id="city" required>
            <label for="email">Votre email</label>
            <input type="email" name="email" id="email" required>
            <button type="submit" class="button button-order" id="order">Commander</button>
        </form>
        <footer>
            <div class="siteName">
                <a href="../index.html">Orinoco</a>
            </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-pinterest-square"></i></a>
                </div>
        </footer>
        <script type="text/javascript" src="../js/variable.js"></script>
        <script type="text/javascript" src="../js/functions.js"></script>
        <script type="text/javascript" src="../js/basket.js"></script>
    </body>
</html>