<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/style.css">
        <script type="text/javascript" src="../js/variable.js"></script>
        <script type="text/javascript" src="../js/functions.js"></script>
        <title>Exercice</title>
        
    </head>
    <body>
        <header>
            <div class="siteName">Exercice</div>
        </header>
        <section id="exemple">

        </section>
    </body>
</html>