<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./css/style.css">
        <script src="./script.js"></script>
        <title>Orinoco, merci pour votre commande</title>
        
    </head>
    <body>
        <header>
            <div class="siteName">Orinoco</div>
        </header>
        <section id="thanks">
            <div class="thankYou">
                <p>Merci pour votre achat!</p>
            </div>
        </section>
        <section id="recapOrder">
            <div class="total-price">Montant total de votre commande :</div>
            <div class="totalPrice"></div>
            <div class="orderNumber">
                <!-- Number of order returns by server -->
            </div>
        </section>

    </body>
</html>