<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script type="text/javascript" src="../js/ordered.js"></script>
        <title>Orinoco, merci pour votre commande</title>
        
    </head>
    <body>
        <header>
            <div class="siteName">Orinoco</div>
        </header>
        <section id="thanks">
            <div class="thankYou">
                <p>Merci pour votre achat!</p>
            </div>
        </section>
        <section id="recapOrder">
            <div class="total-price">Montant total de votre commande :</div>
            <div class="totalPrice"></div>
            <div class="orderNumber">
                <!-- Number of order returns by server -->
            </div>
        </section>
        <footer>
            <div>Orinoco</div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-square"></i></a>
                    <a href=""><i class="fab fa-twitter-square"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-pinterest-square"></i></a>
                </div>
        </footer>
    </body>
</html>