<!DOCTYPE html>
<html lang=fr>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="./css/style.css">
        <script src="../js/functions.js"></script>
        <script src="../js/products.js"></script>
        <title>Orinoco, nos produits</title>
    </head>
    <body>
        <header>
            <div class="siteName">Orinoco</div>
            <button class="button-viewBasket"><a href="./basket.html">Votre Panier</a></button>
        </header>

        <section id="product-image">
            <!-- Product image -->
        </section>

        <aside id="product-choice">
            <!-- Product options -->
        </aside>

        <section id="description">
            <!-- Product description -->
        </section>
    </body>
</html>